/* Resets the margins of the page */
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* spilts the intro page 30/70 */
.split{
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* Control the left side */
.left{
  width: 70%;
  left: 0;
  background-color: #D496A7;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.line{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
  width 100%;
}

.proj{
  padding: 5%;
  width: 30vw;
  height: 100%;
}

.body{
  height: 100%;
  width: 100%;
  background-color: #DDD8B8;
  background-size: cover;
  border: 5px solid #B3CBB9;
}

#healthyaltb{
  background: url('/images/ha.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Control the right side */
.right {
  width: 30%;
  right: 0;
  background-color: #D496A7;
}

.header-right{
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-between;
  width: auto;
  height: 100vh;
}

/* settings for the main text */
 #name{
   background: rgba(0, 0, 0, 0);
   color: #542E71;
   font-family: 'Abril Fatface', cursive;
   font-size: 3.8vw;
   text-align: right;
 }

/* places buttons evenly at bottom of page */
.buttons{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/* Main settings for all buttons */
.sidebar{
  font-size: 1vw;
  text-align: center;
  font-style: normal;
  text-decoration: none;
  color: WHITE;
  font-family: 'Spectral', serif;

  padding: 10% 1%;

  height: 1vh;
  max-height: 1vh;
  width: 20%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: none;

/* default button setting in case of error */
  background-color: BLACK;
  background-size: contain;

  transition: 2s;
}

/* raises buttons on hover */
.sidebar:hover{
  transition: 2s;
  max-height: 10vh;
  height: 10vh;
  padding: 10% 10%;
}

/* Color change for the Button */
#emory{
    background-color: #DDD8B8;
    color: #542E71;
}

#experiences{
    background-color: #B3CBB9;
    color: #542E71;
}

#home{
    background-color: #84A9C0;
    color: #542E71;
}

#contact{
    background-color: #6A66A3;
    color: #542E71;
}
